/* Reset some default margin and padding */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; /* Increase padding for spacing */
}

.logo {
  padding: 1px;
  display: inline-block;
  border-radius: 1px;
  width: 40px;
  height: 40px;
}

.header-text {
  font-size: 24px; /* Increase text size */
  color: white;
  margin-left: 10px; /* Add margin to separate text from the logo */
}

.centered-nav {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Navigation styles */
.navigation {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation li a {
  text-decoration: none;
  color: white;
}

navigation li span {
  text-align: center;
  color: white;
}

.navigation li a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  color: white;
}

/* Social media links in the footer */
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.social-icons a:hover {
  text-decoration: none;
  opacity: 0.8;
}

/* Box styling for images within content boxes */
.hero,
.article,
.testimonial {
  border: 2px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

/* Center-align the names within content boxes */
.hero .name,
.article .name,
.testimonial .name {
  text-align: center;
}
