/* Import Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* Define CSS variables */
:root {
    --primary-color: #173753;
    --secondary-color: #6DAEDB;
    --accent1-color: #2892D7;
    --accent2-color: #1B4353;

    --heading-font: 'Noto Sans JP', sans-serif;
    --paragraph-font: 'Croissant One', sans-serif;

    --nav-background-color: #B4B8AB;
    --nav-link-color: #004e98;
    --nav-hover-link-color: #004e98;
    --nav-hover-background-color: #284B63;
}

/* Body selector rule */
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto; /* Center-align content */
    padding: 20px;
}

/* Headings grouping selector */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Header selector */
header {
    padding: 20px;
    background-color: var(--accent1-color);
}

/* Paragraph selector */
p {
    padding: 25px 0; /* Adjusted padding for top and bottom */
}

/* Navigation styling */
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between; /* Distribute links horizontally */
    align-items: center; /* Vertically center-align items */
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
